body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

img{
    width: 60%;
    height: 40%;
    transform: translate(0,60%);
}

#GridMain{
    width: 60%;
    height: 45%;
    border: solid;
    box-sizing: border-box;
    transform: translate(0,-45%);
}