*{
    font-family: 'Courier New', Courier, monospace;
}

@keyframes moveBackground {
    0%  
    {
        background-position: 0% 0%;
    }
    100% 
    {
        background-position: 800px 800px;
    }
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    
    background-image: 
    linear-gradient(
            rgba(255,255,255,1),
            rgba(255,255,255,1)
        ),
    url("../filler/Background.png");

    background-size: 800px;  
    animation: moveBackground;
    animation-duration: 20s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

#TypeBar{
    visibility: hidden;

    width: 0%;
    height: 15%;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;

    margin: 2.5% 0 0.5% 0;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s ease;
}

#Score{
    visibility: hidden;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

#Text{
    font-size: 200%;
    font-weight: bold;
}

#Prompt{
    font-size: 200%;
    color: red;
    font-weight: bold;
}

#Timer{
    visibility: hidden;

    width: 5%;
    height: 5%;
    text-align: center;
    
    font-size: 150%;

    margin: 0 0 1% 0;

    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

#Main{
    width: 55%;
    height: 45%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.row{
    width: 100%;
    box-sizing: border-box;
}

#row1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#row1 div{
    width: 5.75%;
    height: 80%;
    margin: 0 0.25% 0 0.25%;
}

#row2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#row2 div{
    width: 5.75%;
    height: 90%;
    margin: 0 0.25% 0 0.42%;
}

#row3{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#row3 div{
    width: 5.75%;
    height: 90%;
    margin: 0 0.25% 0 0.25%;
}

#row4{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#row4 div{
    width: 5.75%;
    height: 90%;
    margin: 0 0.25% 0 0.25%;
}

#Enter2{
    transform: translate(3%,-12%);
}

#row5{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#row5 div{
    width: 5.75%;
    height: 90%;
    margin: 0 0.32% 0 0.32%;
}

#row6{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#row6 div{
    width: 5.75%;
    height: 90%;
    margin: 0 0.25% 0 0.25%;
}

#row6 section{
    width: 5.75%;
    height: 90%;
    margin: 0 0.25% 0 0.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#row6 section div{
    width: 100%;
    height: 48%;
}

#row1 div,
#row2 div,
#row3 div,
#row4 div,
#row5 div,
#row6 div {
    background-color: rgb(218, 218, 218);
    border-radius: 3px;
}
